!!!!
%html
%head
  %title Seu Remédio - O seu lembrete de remédios
  = stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag :application, 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  #content
    = render partial: 'layouts/header'
    = yield
    #layout_footer
  = render partial: 'layouts/footer'